.nav-link {
    color: black;
    width: 100%;
    font-family: 'Poppins', sans-serif;

}

body{
    background-image:url('../Imagenes/fondo.png');
    margin: 0;
    background-size : cover
}

nav {
    border-bottom: #c7c6c8 solid;
}
#formulario {
    width: 20%;
    margin-left: 5%;
    margin-right: 2%;
    border: 1px solid black;
    padding: 2%;
    background-color: #e8edea;
    border: white solid 1px;
    float: left;
}
#Contenido{
    margin-top: 3%;
}
h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

input {
    box-shadow: 6px 6px 1px #cac8ca;
}
.btn {
    background-color: black;
    color: white;
    margin-top: 7%;
    width: 100%;
    border-radius: 0;
    box-shadow: 6px 6px 1px #e8edea;
}
label {
    margin-top: 2%;
}
#C_tabla{
    margin-right: 2%;
    width: 70%;
    float: right;
}
#T_tabla{
    background-color: #C6C6C6;
    color: black;
}

.Modelo{
    margin: 0;
    color: black;
    border: none;
    display: block;
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: #c6c6c6;
    width: 35px;
    height: 35px;
    border-radius: 60%;
}
.funcion{
    width: 70%;
    display: block;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 40px;
    border: solid black 1px;
    background-color: white;
    color: #000;
    height: 45px;
}
.letras{
    display: block;
    float: left;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.icon{
    font-size: 25px;
    display: block;
    float: right;
}
#funcionalidades{
    width: 40%;
    margin-left: 4%;
    float: left;
    margin-top: 1%;
}
#presentacion, #presentacion1{
    float: right;
    margin-top: 7%;
    margin-right: 8%;
    padding-top: 4%;
    height: 55%;
    border: #000 solid 1px;
    border-radius: 10px;
}
#admi{
    width: 120%;
}

.card-text{
    font-family: 'Poppins', sans-serif;
}
#funcionalidades_d{
    width: 40%;
    margin-left: 4%;
    float: left;
    margin-top: 15%;
}
.funcion:hover, .funcion:active {
    -webkit-transform: translate(0px,5px);
    -ms-transform: translate(0px,5px);
    transform: translate(0px,5px);
    border-bottom: 1px solid #030303;
   }
#Nlogo{
    font-family: 'Gruppo', cursive;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    font-size: 30px;
    display: block;
    float: left;
}
#logo{
    margin-left: 10px;
    margin-top: 0;
    display: block;
    float: right;
}
@media (max-width: 1224px) {
    #funcionalidades{
        width: 40%;
        margin-left: 5%;
        font-size: 15px;
    }
    #presentacion{
        width: 40%;
        height: 350px;
        font-size: 12px;
    }
    .funcion{
        width: 90%;
        margin-left: 0;
    }
}
@media (max-width: 1024px) {
    #formulario{
        width: 35%;
    }
    #funcionalidades{
        width: 70%;
        margin-left: 25%;
    }
    #presentacion{
        width: 70%;
        height: 350px;
    }
}
@media (max-width: 600px) {
#formulario{
    width: 90%;
}
#funcionalidades{
    width: 80%;
    margin-left: 15%;
}
#presentacion, #presentacion1{
    width: 80%;
    height: 250px;
    border: none;
}
.funcion{
    width: 90%;
    margin-left: 0;
}
}
@media (max-width: 500px) {
    
    #funcionalidades{
        margin-left: 8%;
    }
    .funcion{
        width: 100%;
        margin-left: 0;
        font-size: 13px;
    }
    #Nlogo{
        font-size: 15px;
    }
    #logo{
        width:20px ;
        height: 20px;
    }
    h3{
        font-size: 18px;
    }
    #campana{
        width: 20px;
    }
    #inicio, #salir, #perfil{
        font-size: 10px;
    }
    }
    @media (max-width: 300px) {
        #funcionalidades{
            margin-left: 3%;
        }
        .funcion{
            width: 100%;
            margin-left: 0;
            font-size: 10px;
        }
        .icon{
            font-size: 18px;
        }
        h3{
            font-size: 12px;
        }
        #Nlogo{
            font-size: 10px;
        }
        }

